.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left:35px;
}

.nav-link {
  padding: .5rem 3rem;
}

.jumbo-tron {
  
}

.col {
  max-width: 100%;
}

.colContext {
  padding-right: 100px;
}

.colProblem {
  padding-right: 145px;
}

.blog .carousel-indicators {
	left: 266px;
	top: auto;
    bottom: -40px;

}

/* The colour of the indicators */
.blog .carousel-indicators li {
    background: #a3a3a3;
    border-radius: 50%;
    width: 20px;
    height: 0px;
}

.blog .carousel-indicators .active {
background: #707070;
}
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.embed-responsive {
  position: relative;
  width: 365%;
  overflow: hidden;
}
.sizer {
  width: 300px;
}

.rowHighprototype {display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left:120px;
}

.columnVideo {float: left;
  width: 33.33%;
  padding: 5px;
  right: auto;

}

.carousel-indicators {
  position: absolute;
  z-index: 15;
  right: auto;
}

.rowSurvey {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: 15px;
}